/* SAN FRANCISCO PRO DISPLAY
   © 2015-2017 Apple Inc. All rights reserved. */

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/SF-Pro-Display/default/SF-Pro-Display-Thin.otf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/SF-Pro-Display/default/SF-Pro-Display-Ultralight.otf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/SF-Pro-Display/default/SF-Pro-Display-Light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/SF-Pro-Display/default/SF-Pro-Display-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/SF-Pro-Display/default/SF-Pro-Display-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/SF-Pro-Display/default/SF-Pro-Display-Semibold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/SF-Pro-Display/default/SF-Pro-Display-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/SF-Pro-Display/default/SF-Pro-Display-Heavy.otf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/SF-Pro-Display/default/SF-Pro-Display-Black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('/SF-Pro-Display/default/SF-Pro-Display-Black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* ROBOTO */

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('woff2');
  font-weight: 100 900;
}